*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root{
  /*--principal:#F5F5F5;
  --secundario:#272b35;
  --tercer:#F61067;
  --cuarto:#962557;*/
  --principal:#272b35;
  --secundario:#F5F5F5;
  --tercer:#F61067;
  --cuarto:#962557;
}
html{
  font-size: 27vw;
}
body{
  background-color: var(--principal);
  color:var(--secundario);
}
.central{
  text-align: center;
  font-size: 1rem;
}
.contenedor-circulo{
  width: 2.4rem;
  height: 2.4rem;
  margin: 1rem auto 0vw auto;
  font-size: 100%;
  transition: font-size 0.03s linear,margin-top 1s,margin-left 1s ease-in-out;
}
.contenedor-circulo.arriba{
  margin-top: 8%;
}
.contenedor-circulo.small{
  
  font-size: 70%;
  transition: font-size 0.8s ease-in-out;
}
.contenedor-circulo.smaller{
  font-size: 52%;
  transition: font-size 0.8s ease-in-out;
}
.circulo{
  background-color:transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*box-shadow: rgba(255,255,255,0) 0px 0px 0vw 0vw inset,0 0 12vw 0px rgba(0,0,0,0.3);*/
  box-shadow:rgba(255,255,255,0) 0px 0px 0vw 1.2rem inset ;
  font-weight: 600;
  user-select: none;
  border: 0.06rem solid var(--tercer);
  transition:box-shadow 0;
  position: relative;
  box-sizing: border-box;
}
.circulo::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  box-shadow:
  rgba(0,0,0,0.3) 0vw 0.2rem 0.3rem -0.17rem inset,rgba(0,0,0,0.6) 0vw 0.2rem 0.3rem -0.17rem ;
}
.animacion{
  transition:box-shadow 0s;
  box-shadow: rgba(255, 255, 255,0.1) 0px 0vw 0vw 1.2rem inset;
}
.contador{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 0.0rem var(--tercer) ;
  transition: text-shadow 0.2s ease;
}
.contador.pausa{
  text-shadow: 0 0 0.1rem var(--tercer) ;
}
.ms{
  font-size: 50%;
}
.contenedor-vueltas{
  font-size:17%;
  margin: auto;
  margin-top: 0.3rem;
  height: 1.7rem;
  width: 70%;
  position: relative;
}

.contenedor-vueltas::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  box-shadow: var(--principal) 0px -0.49rem 0.3rem -0.2rem inset;
  pointer-events: none;
}
.contenedor-vueltas ul::-webkit-scrollbar {
  display: none;
}
.contenedor-vueltas ul{
  list-style-type: none;
  height: 99%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: -1;
}
.numero-vuelta{
  color:var(--cuarto);
}
.contenedor-botones{
  /*transition: bottom 1s ;*/
  height: 0.7rem;
  width: 50%;
  margin: 0;
  position: absolute;
  transform: translate(50%);
  bottom: 10%;
  right: 50%;
}
/*.contenedor-botones.abajo{
  bottom: 10%;
}*/
button{
  font-size: 1rem;
}
.boton{
  color: var(--secundario);
  font-size:0.4rem;
  line-height: 0;
}
.boton i.fa-play{
  
  margin-left: 0.1rem;
}
.boton{
  position: absolute;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  border: none;
  /*background-color: var(--tercer);*/
  background:linear-gradient(30deg,var(--cuarto) ,var(--tercer));
  /*box-shadow: 0 0 5vw 0px rgba(0,0,0,0.2);*/
  box-shadow: rgba(255,255,255,0) 0px 0px 0vw 0vw inset,0 0.03rem 0.15rem 0px rgba(0,0,0,0.3);
  
  right: 50%;
  transform: translate(50%,0) scale(1,1);
  transition: box-shadow 0.3s, right 0.2s ease,opacity 0.2s ease, transform 0.2s ease;
  z-index: 2;
}
.stop{
  opacity: 0;
  pointer-events: none;
}
.vuelta{
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.derecha{
  transform: translate(50%,0) scale(0.7,0.7);
  right: 0%;
  opacity: 1;
  pointer-events: initial;
}
.izquierda{
  transform: translate(50%,0) scale(0.7,0.7);
  right: 100%;
  opacity: 1;
  pointer-events: initial;
}
.transparente{
  opacity: 0;
  pointer-events: none;
}
.animacion-boton{
  box-shadow: rgba(255,255,255,0.35) 0px 0vw 0vw 0.35rem inset,0 0.03rem 0.15rem 0px rgba(0,0,0,0.3);
  transition: 0s;
}
button{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 768px), (orientation: landscape) {
  html{
    font-size: 13vw;
  }
  .contenedor-circulo{
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%,0);
    max-height: 85vh;
    max-width: 85vh;
  }
  .contenedor-circulo.arriba{
    margin-left: 2rem;
    margin-top: 2%;
  }
  .contenedor-botones{
    bottom: 3%;
    width: 30%;
  }
  .contenedor-vueltas{
    margin-top: 6%;
    position: absolute;
    right: 0;
    width: 60%;
    top: 0;
    z-index: -1;
    height: 2.2rem;
  }
}